{% extends 'base.html' %}

{% block body %}

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<div id="fh5co-logo"><a href="./">ケロマツの家計簿<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1">
						<ul>
							<li class="active"><a href="./">ホーム</a></li>
							<li class="has-dropdown">
								<a>登録</a>
								<ul class="dropdown">
									<li><a href="/move_registration_buy_page">支出登録</a></li>
									<li><a href="/move_registration_income_page">収入登録</a></li>
									<li><a 貯金登録 href="/move_registration_saving_page">貯金登録</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a>レポート</a>
								<ul class="dropdown">
									<li><a href="/move_month_report_page">月間レポート</a></li>
									<li><a href="/move_year_report_page">年間レポート</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../static/images/background.jpeg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeInUp">
								<h1 class="mb30">ちゃんと家計簿しろよ？ん？</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

{% endblock %}