{% extends 'base.html' %}

{% block body %}
    <!-- 以下を変更 -->

    <div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<div id="fh5co-logo"><a href="./">ケロマツの家計簿<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1">
						<ul>
							<li><a href="./">ホーム</a></li>
							<li><a href="/move_registration_buy_page">支出登録</a></li>
							<li><a href="/move_registration_income_page">収入登録</a></li>
							<li class="active"><a href="/move_month_report_page">月間レポート</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../static/images/background.jpeg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeInUp">
								<h1 class="mb30">月間レポート</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	<div id="fh5co-counter">
		<div class="container">

			<div class="row animate-box" data-animate-effect="fadeInUp">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>月間レポート</span>
					<h2>今月のKPI</h2>
					<p>各指標で、正しいお金の使い方ができているか確認しろ</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-download"></i>
						</span>
						<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['residual_income'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['residual_income'] }}</span>K+</span>
						<span class="counter-label">貯金額を除いた可処分所得</span>

					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
					<div class="feature-center">
							<span class="icon">
								<i class="ti-face-smile"></i>
							</span>
							<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['amount'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['amount'] }}</span>K+</span>
							<span class="counter-label">支出</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-briefcase"></i>
							</span>
							<span class="counter"><span class=" js-counter" data-from="0" data-to="{{ kpi_dict['budget'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['budget'] }}</span>K+</span>
							<span class="counter-label">残り予算</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['oir'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['oir'] }}</span>%+</span>
							<span class="counter-label">支出／可処分所得</span>

						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['fixed_cost'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['fixed_cost'] }}</span>K+</span>
							<span class="counter-label">固定費</span>

						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['variable_cost'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['variable_cost'] }}</span>K+</span>
							<span class="counter-label">変動費</span>

						</div>
					</div>

					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['saving_amount'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['saving_amount'] }}</span>K+</span>
							<span class="counter-label">目標貯金額</span>

						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['family_cost'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['family_cost'] }}</span>K+</span>
							<span class="counter-label">家族費</span>

						</div>
					</div>

					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['work_book_cost'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['work_book_cost'] }}</span>K+</span>
							<span class="counter-label">仕事関係の書籍代</span>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['engel_coefficient'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['engel_coefficient'] }}</span>%+</span>
							<span class="counter-label">エンゲル係数</span>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter"><span class="js-counter" data-from="0" data-to="{{ kpi_dict['extraordinary_cost'] }}" data-speed="1500" data-refresh-interval="50">{{ kpi_dict['extraordinary_cost'] }}</span>K+</span>
							<span class="counter-label">臨時費</span>
						</div>
					</div>
				</div>
			</div>

	</div>

    <div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
					<div class="fh5co-heading">
						<span>月間レポート</span>
						<h2>今月のカテゴリ毎の支出</h2>
						<p>100%を超えているカテゴリは今月もう買えないよ</p>
					</div>
				</div>
			</div>
            <div class="row row-pb-md">
				<div class="col-md-12 text-center animate-box" data-animate-effect="fadeInUp">
					<div class="fh5co-heading">
						{% include "reports/month_amount_by_ctg/%s" % report_name_dict["month_amount_by_ctg"]  %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>月間レポート</span>
					<h2>今月の日別累積支出</h2>
					<p>赤線を越えてたら、もうおわおわり</p>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-12 text-center animate-box" data-animate-effect="fadeInUp">
					<div class="fh5co-heading">
						{% include "reports/month_amount_by_date/%s" % report_name_dict["month_amount_by_date"]  %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}